<% if (post.updated) { %>
    <div class="<%= class_name %>">
        <i class="fa fa-wrench"></i>
        <time datetime="<%= date_xml(post.updated) %>" itemprop="dateUpdated"><%= date(post.updated, date_format) %></time>
    </div>
<% } %>
